@font-face {
    font-family: 'Roboto';
    src: url(Roboto.ttf);
}

body {
    font-family: 'Roboto';
    background-color: rgb(226, 211, 192);
    width: 60%;
    margin: 0 auto;
    padding: 2% 0;
}

main {
    background-color: white;
    padding: 15px;
}

h1 {
    color: rgb(140, 76, 8);
}

h2 {
    color: rgb(140, 76, 8);
}

section {
    margin-top: 0px;
    padding-bottom: 5px;
    border-top: solid 1px gray;
}
